<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Door</title>
    <link rel="shortcut icon" href="../img/door.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/97f2692db1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/bulma.css">
    <link rel="stylesheet" href="../css/bulma-tooltip.min.css">
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <!--    DO NOT CHANGE THE TEMPLATE IS USING A DIFFERENT PATH   -->
</head>
<body>

<!-- NavBar -->
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <!--            <i id="fan" class="fas fa-fan has-text-white-bis mx-1 rotate"></i>
                        <img src="public/img/logoNew.png" alt="" height="40" id="logo">-->
        </a>


        <a id="homeButton" class="navbar-item">
            <span class="icon mx-1">
                <i class="fas fa-home"></i>
            </span>
            Home
        </a>

        <a id="historyButton" class="navbar-item">
            <span class="icon mx-1">
                <i class="far fa-list-alt"></i>
            </span>
            History
        </a>

    </div>


    <div class="navbar-end">
        <a id="logoutButton" class="navbar-item">
            <span class="icon mx-1">
                <i class="fas fa-sign-out-alt"></i>
            </span>
            Log out
        </a>
    </div>

</nav>
<!-- NavBar END -->

<div class="hero is-light is-fullheight" id="homeContent">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-11 is-offset-1">
                <div class="box has-background-white">
                    <h3 class="title is-4">Welcome {{.User}}!</h3>

                    <h3 id="modeContainer" class="title is-3">Current Lock Mode: {{.Mode}} </h3>

                    <nav class="level mt-1 mx-1">
                        <div class="level-item has-text-centered">
                            <img src="../img/lockOpenStatic.png" alt="lock" id="lockImage">
                        </div>
                    </nav>

                    <div class="columns is-centered p-3">
                        <!--   open   -->
                        <label class="radio">
                            <input type="radio" name="mode" checked>
                            Open
                        </label>
                        <span class="icon has-tooltip-white " data-tooltip="Door opens to anyone.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <!--  soft  -->
                        <label class="radio">
                            <input type="radio" name="mode">
                            Soft Lock
                        </label>
                        <span class="icon has-tooltip-white " data-tooltip="Door only opens when a correct RDIF tag is read.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <!--  hard  -->
                        <label class="radio">
                            <input type="radio" name="mode">
                            Hard Lock
                        </label>
                        <span class="icon has-tooltip-white " data-tooltip="The door can only be opened manually from the web interface.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>

                    <div class="columns is-centered pb-5">
                        <button class="button is-large" id="applyButton">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- History -->
<div  class="hero is-light is-fullheight" id="historyContent">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-11 is-offset-1">
                <div class="box has-background-white">
                    <h3 class="title is-4"><br></h3>
                    <h3 id="historyContainer" class="title is-3">This is login history </h3>
                    <div class="level-item has-text-centered">
                        {{.Graph}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div >
<!-- Hoístory END -->

<!-- DoorStatus -->
<div  class="hero is-light is-fullheight" id="statusContent">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-11 is-offset-1">
                <div class="box has-background-white">
                    <h3 class="title is-4"><br></h3>
                    <h3 id="statusContainer" class="title is-3">Current Status: Open/Closed </h3>
                    <div class="level-item has-text-centered">
                            <img src="../img/DoorClosed.png" alt="status" id="doorImage">
                    </div>

                    <div class="columns is-centered pb-5">
                        <button class="button is-large" id="changeButton">Change</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div >
<!-- DoorStatus END -->

</body>
</html>